body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.umowaPic {
    background: url('/Content/ikony/ikona_umowa50px.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}

a.konserwacjaPic {
    background: url('/Content/ikony/ikona_konserwacja50px.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}

a.masazPic {
    background: url('/Content/ikony/ikona_masaz50px.png') no-repeat;
    display: block;
    width: 50px;
    height:50px;
    text-indent: -9999px; /* hides the link text */
}

a.treningPersonalnyPic {
    background: url('/Content/ikony/ikona_treningPersonalny50px.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}

a.adresPic {
    background: url('/Content/ikony/ikona_adres50px.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}

a.adresSilowniaPic {
    background: url('/Content/ikony/silownia/ikona_adres_silownia_50px.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}

a.instruktorPic{
    background: url('/Content/ikony/persony/ikona_instruktor50px.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */

}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #6BD043;
}

.validation-summary-valid {
    display: none;
}

.container #automaticgeneric .carousel slide {
    margin-top: 220px;
}

.thumbnail {
    height: 300px;
    width: 100%;
}

.container {
    padding: 0 0 0 0;
}

.footery {
    position: fixed;
    z-index: -1;
    height: 420px;
    width: 100%;
    top: 70%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 8%;
    background-color: #6BD043;
}

.thumbnail {
    background-color: #E0E0E0;
}

h2{
    color:#42dca3;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase
}

h4 {
    font-size: 18px;
    font-weight: bold;

}
th{
    color: #ecf0f1;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.container.clear {
    height: 270px;
    width: 100%;
    padding-right: 114px;
}

.divCenter{
     margin: auto;
    width: 60%;
}

.divDark{
    background-color:#272b30;
    padding-bottom: 50px;
    padding-top: 50px;
}
.divDarkCenter{
    background-color:#272b30;
    padding-bottom: 50px;
    padding-top: 50px;
   
}

.textCenter{
    color:#42dca3;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase
}

.divInner{
    width: 20%;
    margin: 0 auto;
}
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover{
    border: 1px solid #42dca3;
    background-color: #42dca3;
}
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    background-color: transparent;
}

.btn-primary {
    border: 1px solid #3498db;
    color: #3498db;
    background-color: transparent;
}

.btn-primary:hover{
    border: 1px solid #3498db;
    background-color: #3498db;
}
.btn-primary:focus {
    border: 1px solid #3498db;
    outline: 0;
    background-color: transparent;
}

.btn-danger {
    border: 1px solid #c0392b;
    color: #c0392b;
    background-color: transparent;
}
.btn-danger:hover{
    border: 1px solid #c0392b;
    background-color: #c0392b;
}
.btn-danger:focus {
    border: 1px solid #c0392b;
    outline: 0;
    background-color: transparent;
}

.btn-success {
    border: 1px solid #27ae60;
    color: #27ae60;
    background-color: transparent;
}

.btn-success:hover{
    border: 1px solid #27ae60;
    background-color: #27ae60;

}
.btn-success:focus {
    border: 1px solid #27ae60;
    outline: 0;
    background-color: transparent;
}


.btn-info {
    border: 1px solid #5bc0de;
    color: #5bc0de;
    background-color: transparent;
}

.btn-info:hover{
    border: 1px solid #5bc0de;
    background-color: #5bc0de;

}
.btn-info:focus {
    border: 1px solid #5bc0de;
    outline: 0;
    background-color: transparent;
}

.table-hover tbody tr td {
    vertical-align: middle;
}

.Centered
{
    display: inline-block;
    vertical-align: middle;
}


.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
   
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color:palevioletred;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color:transparent;
    
}

.navbar-custom .nav li.active {
    outline: 0;
    background-color:darkred;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media screen and (min-width: 831px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
     }
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('/Content/PURE MUSCLES.jpg') no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 768px)
.intro {
    height: 100%;
    padding: 0;
}