<div class="container clear">
 
        <div class="container lead footery">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h4>O nas!</h4>
                        <p><a href="#"> Nasza historia</a></p>
                        <p><a href="#">Dołącz do nas</a></p>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <h4>Pomoc</h4>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Skontaktuj się z nami!</a></p>
                        <p><a href="#">Rozpocznij czat</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer_image pull-right" style=" margin-right: 5%;">
                        <a href="#"><img src="~/content/images.jpg" alt="logo"></a>
                    </div>

                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - Sieć siłowni</p>
        </div>
    </div>




