<div class="container clear">
 
        <div class="container lead footery">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <h4>About</h4>
                        <p><a href="#">Our Story</a></p>
                        <p><a href="#">Join Us</a></p>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <h4>Support</h4>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Contact Us</a></p>
                        <p><a href="#">Instant Chat</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer_image pull-right" style=" margin-right: 5%;">
                        <a href="#"><img src="~/content/images.jpg" alt="logo"></a>
                    </div>

                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - Sieć siłowni</p>
        </div>
    </div>




