@{
    ViewBag.Title = "DomyslneProfilowe";
}

<div style="margin: 0 auto; width: 980px; text-align: center">
    <div style="float: left; border: none; padding: 5px">
        <img src="~/Content/ikony/persony/ikona_klient.png" />
    </div>
</div>


