@{
    ViewBag.Title = "DomyslneProfilowe";
}

<div style="margin: 0 auto; width: 980px; text-align: center">
    <div style="float: left; border: 4px solid #ccc; padding: 5px">
        <img src="~/Content/ikony/profile_pic.png" />
    </div>
</div>


