@model Silownia.Models.Osoba
<div class="container clear">

    Login: @Model.Konto.Login
    <br />
    Hasło: @Model.Konto.Haslo
    <br />
    Data utworzenia: @Model.Konto.DataUtworzenia
            
</div>




