<head>

</head>

<div class="container">
    <div class="row">
        <div class=" col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: transparent; border-color: transparent">
                <img src="~/content/OurTeam/jbielawska.jpg" width="300" height="600" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Jagoda Bielawska</h3>
                    <p>S10893</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: transparent; border-color: transparent">
                <img src="~/content/OurTeam/mbielec.jpg" width="300" height="600" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Michał Bielec</h3>
                    <p>S10377</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: transparent; border-color: transparent">
                <img src="~/content/OurTeam/dbudzynowski.jpg" width="300" height="600" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Damian Budzynowski</h3>
                    <p>S10546</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: transparent; border-color: transparent">
                <img src="~/content/OurTeam/lmajcher.jpg" width="300" height="600" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Łukasz Majcher</h3>
                    <p>S11103</p>
                </div>
            </div>
        </div>
    </div>

</div>


