<div class="container" style="background-color: #000000;">
    <div class="row">
        <div class=" col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: black; border-color:aquamarine;">
                <img src="~/content/trenerzy/Konrad-Żuk1.png" width="275" height="390" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Konrad Żuk</h3>
                    <p>Trener personalny z najdłuższym starzem w naszej sieci. Inspiruje do działania najbardzej leniwych. Potrafi zmotywować do działania. Zebrał najwiecej pozytywnych komentarzy od użytkowników, takze to dzieki wam zasłużył na wyróznienie.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: black; border-color:aquamarine;">
                <img src="~/content/trenerzy/marcin.jpg" width="275" height="390" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Marcin Nowak</h3>
                    <p>Trener crossfit od 6 lat. Ludzie których trenuje startują, również w zawodach crossfit z wieloma sukcesami. Jak opisują nasi użytkownicy, bardzo przyjazny ale podczas treningu bezitosny.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: black; border-color:aquamarine;">
                <img src="~/content/trenerzy/Halinka.jpg" width="275" height="390" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Monika Czerwińska</h3>
                    <p>Trenerka jogi oraz pilatesu. Jej klientki twierdzą, że jest złotym człowiekiem. Układa zestawy dla osób na każdym poziomie zaawansowania, dzieki czemu każdy znajdzie coś dla siebie aby spalić troche kalorii.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="background-color: black; border-color:aquamarine;">
                <img src="~/content/trenerzy/Olga.jpg" width="275" height="390" alt="...">
                <div class="caption" style="color:white;">
                    <h3>Olga Zawadzka</h3>
                    <p>Trenerka Fitness. Wyciska siódme poty ze wszystkich klientów. Klienci bardzo lubia jej zestawy ćwiczeń.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
