<div class="container">
    <div class="row">  
        <div class="col-md-5">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="620" height="345" src="https://www.youtube.com/embed/6R0CBFcxWos" frameborder="0"></iframe>
            </div>
        </div> 
        <div class="col-md-6 col-md-offset-1" style=" height: 345px;">
            </div>
        </div>
    </div>
       
      

