@{
    ViewBag.Title = "Nasz zespół";
}
@*<h2>@ViewBag.Title</h2>*@ 
@*<h3>@ViewBag.Message</h3>*@

<head>

</head>

<section id="ourTeam" class="container content-section text-center">
    <h2>NASZ ZESPÓŁ</h2>
    @Html.Partial("_OurTeam")
</section>
