@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Pure Jatomi to największa sieć klubów fitness w Polsce. Obecnie posiadamy 35 klubów, wciąż otwieramy nowe. Pozostałe kluby zlokalizowane są w Czechach, Rumunii, Turcji, Indonezji i Malezji.
    W swoich działaniach koncentrujemy się na dostarczeniu naszym Członkom najwyższej jakości usług w zakresie fitnessu. Nasze kluby wyposażone są w najnowszej generacji sprzęt siłowy i cardio, śledzimy i wprowadzamy najnowsze trendy, jak treningi funkcjonalne przy wykorzystaniu klatek TRX, treningi obwodowe, najnowsze typy zajęć grupowych czy taniec Bokwa.
    W klubach Pure Jatomi spotykasz najbardziej doświadczonych i zawsze pomocnych trenerów, posiadających szeroką wiedzę z zakresu żywienia i zdrowego stylu życia. Nasi trenerzy wiedzą w jaki sposób zmotywować Cię do ćwiczeń, sprawić abyś osiągnął rezultaty, a przede wszystkim polubił treningi i uczynił z nich ważną część swojego życia.
</p>
