@{
    ViewBag.Title = "Skontaktuj się z nami!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Polsko-Japońska Akademia
    Technik Komputerowych <br />
    ul. Koszykowa 86<br />
    02-008 Warszawa<br />
    <abbr title="Phone">P:</abbr>
    +48 22 58 44 500
</address>

<address>
    <strong>PJATK e-mail:</strong>   <a href="mailto:pjatk@pja.edu.pl">pjatk@pja.edu.pl</a><br />
</address>