<div class="col-lg-2">
    <div style="font-size:larger">
        Konserwator:
    </div>
    @Html.DropDownList("KonserwatorID", (SelectList)ViewBag.KonserwatorID, "Wszyscy konserwatorzy", new { onchange = "this.form.submit();", @class = "form-control" }) <br />

</div>
