<div class="col-lg-2">
    <div style="font-size:larger">
        Szukaj po miastach:
    </div>
    @Html.DropDownList("Miasto", (SelectList)ViewBag.Miasto, "Wszystkie miasta", new { @class = "form-control" }) <br />
</div>
