<div class="col-lg-2">
    <div style="font-size:larger">
        Miasto:
    </div>
    @Html.DropDownList("Miasto", (SelectList)ViewBag.Miasto, "Wszystkie miasta", new { onchange = "this.form.submit();", @class = "form-control" }) <br />
</div>
