  
<div class="col-lg-2">
    <div style="font-size:larger">
        Szukaj po specjalizacji:
    </div>
    @Html.DropDownList("SpecjalizacjaID", (SelectList)ViewBag.SpecjalizacjaID, "Wybierz specjalizację", new { onchange = "this.form.submit();", @class = "form-control" }) <br />
</div>

