<div class="col-lg-2">
    <div style="font-size:larger">
        Status naprawy:
    </div>
    @Html.DropDownList("Status", (SelectList)ViewBag.Status, "Dowolny status", new { onchange = "this.form.submit();", @class = "form-control" }) <br />
    @* Przy zmianie w dropdownliscie od razu odświeża się widok *@

</div>
