<div class="col-lg-2">
    <div style="font-size:larger">
        Trener:
    </div>
    @Html.DropDownList("TrenerID", (SelectList)ViewBag.TrenerID, "Wszyscy trenerzy", new { onchange = "this.form.submit();", @class = "form-control" }) <br />
   
</div>
